In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import glob
import os
import sys

# Select file to preview
file = 'Listings'
path = f'../raw/{file}.csv'
bnb = pd.read_csv(path, low_memory=False)
bnb.head(5)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,12/3/2011,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÂ² Paris (Sacre CÅ“ur),10328771,11/29/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,7/31/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,12/17/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,12/14/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [2]:
# Filter by location
narrowdf = bnb.loc[(bnb["city"] == 'New York')]
narrowdf.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
9220,3457770,Cute 1 BR in the Lower East Side,9604972,10/23/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,30,1125,80.0,10.0,8.0,8.0,8.0,10.0,10.0,f
9221,4173751,Lovely Apartment in Harlem West,9197440,10/2/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,30,1125,90.0,10.0,9.0,10.0,10.0,9.0,9.0,f
9222,4259427,Appartement en duplex de 3 chambres,21833312,9/27/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,6,1125,87.0,9.0,8.0,10.0,10.0,8.0,8.0,f
9223,4370230,NaN,22686810,10/18/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,30,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
9224,5286096,Amazing Studio-EmpireStateBuilding,3866196,10/14/2012,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,30,1125,93.0,9.0,9.0,9.0,10.0,9.0,9.0,f

In [3]:
# Validate that we still have enough rows
len(narrowdf)

37012

In [25]:
# Select file to preview
file = 'NYC_crime'
path = f'../raw/{file}.csv'
crime_1 = pd.read_csv(path, low_memory=False)
crime_1.head(5)

,Unnamed: 0,arrest_key,arrest_date,pd_desc,ofns_desc,law_code,law_cat_cd,age_group,perp_sex,perp_race,latitude,longitude,arrest_boro,arrest_precinct,jurisdiction_code,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
0,0,192799737,2019-01-26,SEXUAL ABUSE,SEX CRIMES,PL 1306503,F,45-64,M,BLACK,40.800694,-73.941109,M,25,0.0,7.0,4.0,36.0,16.0
1,1,193260691,2019-02-06,CRIMINAL SALE OF A CONTROLLED SUBSTANCE,CONTROLLED SUBSTANCES OFFENSES,PL 2203400,F,25-44,M,UNKNOWN,40.757839,-73.991212,M,14,0.0,12.0,4.0,10.0,8.0
2,2,149117452,2016-01-06,RAPE 3,RAPE,PL 1302503,F,25-44,M,BLACK,40.648650,-73.950336,K,67,0.0,61.0,2.0,11.0,40.0
3,3,190049060,2018-11-15,RAPE 1,RAPE,PL 1303501,F,25-44,M,BLACK,40.674583,-73.930222,K,77,0.0,16.0,2.0,49.0,49.0
4,4,24288194,2006-09-13,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,PL 140100E,M,45-64,M,BLACK,40.671254,-73.926714,K,77,2.0,16.0,2.0,49.0,49.0

In [26]:
# drop unnecessary columns
crime_1 = crime_1.drop(columns={':@computed_region_f5dn_yrer', ':@computed_region_f5dn_yrer',
                    ':@computed_region_92fq_4b7q', ':@computed_region_sbqj_enih',
                    ':@computed_region_yeji_bk3q', 'Unnamed: 0'})
# crime_df.drop(columns=['full_arrest_boro'], axis=1)
crime_1

,arrest_key,arrest_date,pd_desc,ofns_desc,law_code,law_cat_cd,age_group,perp_sex,perp_race,latitude,longitude,arrest_boro,arrest_precinct,jurisdiction_code
0,192799737,2019-01-26,SEXUAL ABUSE,SEX CRIMES,PL 1306503,F,45-64,M,BLACK,40.800694,-73.941109,M,25,0.0
1,193260691,2019-02-06,CRIMINAL SALE OF A CONTROLLED SUBSTANCE,CONTROLLED SUBSTANCES OFFENSES,PL 2203400,F,25-44,M,UNKNOWN,40.757839,-73.991212,M,14,0.0
2,149117452,2016-01-06,RAPE 3,RAPE,PL 1302503,F,25-44,M,BLACK,40.648650,-73.950336,K,67,0.0
3,190049060,2018-11-15,RAPE 1,RAPE,PL 1303501,F,25-44,M,BLACK,40.674583,-73.930222,K,77,0.0
4,24288194,2006-09-13,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,PL 140100E,M,45-64,M,BLACK,40.671254,-73.926714,K,77,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3881984,24592084,2006-10-01,"LARCENY,GRAND FROM OPEN AREAS,UNCLASSIFIED",GRAND LARCENY,PL 1553001,F,<18,M,BLACK,40.676655,-73.916466,K,73,0.0
3881985,24028282,2006-08-25,"MARIJUANA, SALE 4 & 5",DANGEROUS DRUGS,PL 2214000,M,<18,M,WHITE,40.625264,-73.998697,K,62,0.0
3881986,24036787,2006-08-26,"PUBLIC ADMINISTATION,UNCLASS MISDEMEAN 4",OFFENSES AGAINST PUBLIC ADMINISTRATION,PL 1950500,M,18-24,M,BLACK,40.801304,-73.936106,M,25,0.0
3881987,24028407,2006-08-25,"TRAFFIC,UNCLASSIFIED MISDEMEANOR",VEHICLE AND TRAFFIC LAWS,VTL05110E2,F,25-44,M,BLACK,40.675505,-73.899692,K,75,0.0
3881988,24321597,2006-09-14,"CONTROLLED SUBSTANCE, POSSESSION 7",DANGEROUS DRUGS,PL 2200300,M,45-64,M,BLACK,40.804428,-73.955370,M,28,2.0

In [28]:
# copy one column for manipulation
full_arrest = crime_1['arrest_boro'].copy()
# insert that column into dataframe
crime_1.insert(12, "full_arrest_boro", full_arrest)

In [29]:
# verify that it worked
crime_1

,arrest_key,arrest_date,pd_desc,ofns_desc,law_code,law_cat_cd,age_group,perp_sex,perp_race,latitude,longitude,arrest_boro,full_arrest_boro,arrest_precinct,jurisdiction_code
0,192799737,2019-01-26,SEXUAL ABUSE,SEX CRIMES,PL 1306503,F,45-64,M,BLACK,40.800694,-73.941109,M,M,25,0.0
1,193260691,2019-02-06,CRIMINAL SALE OF A CONTROLLED SUBSTANCE,CONTROLLED SUBSTANCES OFFENSES,PL 2203400,F,25-44,M,UNKNOWN,40.757839,-73.991212,M,M,14,0.0
2,149117452,2016-01-06,RAPE 3,RAPE,PL 1302503,F,25-44,M,BLACK,40.648650,-73.950336,K,K,67,0.0
3,190049060,2018-11-15,RAPE 1,RAPE,PL 1303501,F,25-44,M,BLACK,40.674583,-73.930222,K,K,77,0.0
4,24288194,2006-09-13,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,PL 140100E,M,45-64,M,BLACK,40.671254,-73.926714,K,K,77,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3881984,24592084,2006-10-01,"LARCENY,GRAND FROM OPEN AREAS,UNCLASSIFIED",GRAND LARCENY,PL 1553001,F,<18,M,BLACK,40.676655,-73.916466,K,K,73,0.0
3881985,24028282,2006-08-25,"MARIJUANA, SALE 4 & 5",DANGEROUS DRUGS,PL 2214000,M,<18,M,WHITE,40.625264,-73.998697,K,K,62,0.0
3881986,24036787,2006-08-26,"PUBLIC ADMINISTATION,UNCLASS MISDEMEAN 4",OFFENSES AGAINST PUBLIC ADMINISTRATION,PL 1950500,M,18-24,M,BLACK,40.801304,-73.936106,M,M,25,0.0
3881987,24028407,2006-08-25,"TRAFFIC,UNCLASSIFIED MISDEMEANOR",VEHICLE AND TRAFFIC LAWS,VTL05110E2,F,25-44,M,BLACK,40.675505,-73.899692,K,K,75,0.0
3881988,24321597,2006-09-14,"CONTROLLED SUBSTANCE, POSSESSION 7",DANGEROUS DRUGS,PL 2200300,M,45-64,M,BLACK,40.804428,-73.955370,M,M,28,2.0

In [ ]:
#why isnt git updating?